@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    margin-top: 50px;
    background-color: rgb(253, 253, 150, 0.5);
}

input {
    width: 80px;
    text-align: right;
}

#mainvisual {
    text-align: center;
}

#window {
    display: none;
    margin-top: 50px;
    background-color: aliceblue;
}

#calculation {
    margin-top: 20px;
    width: 80px;
}