@charset "UTF-8";

html {
    font-size: 100%;
    font-family: cursive;
}

body {
    background-color: rgb(2, 39, 44);
    color: white;
}

.wrapper {
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-top: 0;
    padding: 50px;
}

#ul {
    list-style: none;
    display: inline-block;
}

.list-item {
    text-align: left;
    cursor: pointer;
    padding: 4px;
}

.list-item:hover {
    border: solid 1px white;
}


.done {
    text-decoration: line-through;
}

#instruction {
    display: inline-block;    
    margin: 30px auto;
    padding: 10px;
    border: solid 2px white;
}

#input {
    height: 30px;
}
#inputButton {
    margin-left: 50px;
}