@charset "UTF-8";

html {
    font-size: 100%;
    font-family: cursive;
}

body {
    background-color: rgba(145, 226, 223, 0.5);
}

ul {
    list-style: none;
}

.done {
    text-decoration: line-through;
}