@charset "UTF-8";

html {
    font-size: 100%;
    font-family: cursive;
}

body {
    background-color: rgb(2, 39, 44);
    color: white;
}

.wrapper {
    text-align: center;
}

ul {
    margin-left: 0;
}

h1 {
    font-size: 60px;
    margin-top: 0;
    padding: 50px;
    margin-bottom: 0;
}

#instruction {
    display: inline-block;    
    margin: 50px auto;
    margin-top: 10px;
    padding: 10px;
    border: solid 2px white;
}

#ul {
    list-style: none;
    display: inline-block;
    background-color: rgb(8, 94, 52);
    padding: 20px;
    margin-top: 30px;
    width: 500px;
}

.list-item {
    text-align: left;
    cursor: pointer;
    padding: 2px;
}

.list-item:hover {
    border: solid 1px white;
}


.done {
    text-decoration: line-through;
}



#input {
    height: 30px;
}
#inputButton {
    margin-left: 50px;
}